<div class="container">
  <div class="auth">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Username:</label>
        <input mat-input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input mat-input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
