@use '@angular/material' as mat;
$primary: #e81a28;
$primary-contrast: white;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}




.button {
  &.active {
    background-color: $primary;
    color: $primary-contrast;
  }
}

.mat-mdc-button:not(:disabled) {
  color: #2f10ca;
}

.btn-menu{
  margin:25px;
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  // width: 75% !important;
  display: flex;
  margin: auto;
  flex-direction: column;
}


