<div class="upload-container">
  <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" />
  @if(!selectedFile){
  <button mat-raised-button color="primary" (click)="fileInput.click()">Choose Image</button>
  }
  <div class="preview" *ngIf="selectedFile">
    <img [src]="previewUrl" alt="Image Preview">
    <button mat-raised-button color="primary" (click)="removeImage($event)">Remove</button>
  </div>

  @if(uploadProgress){
    <mat-progress-bar
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="progressValue"
    [bufferValue]="bufferValue">
   </mat-progress-bar>
  }

  <button mat-raised-button color="primary"  (click)="onSubmitUpload($event)" [disabled]="!selectedFile">Upload</button>
</div>
